{% extends "base.html" %}
{% block baseContent %}

    <header>
      <div class="container">
        <a href="http://www.nihr.ac.uk/" id="nihr" target="_blank">
          <img src="{{ url_for('static', filename='images/nihr.png') }}" alt="National Institute for Health Research" width="296" height="140.5" />
        </a>
        <a href="{{ url_for('index') }}">
          <h1>Leicester Cardiovascular Biomedical Research Unit</h1>
          <h2>Events</h2>
        </a>
      </div>
    </header>
    <nav>
      <div class="container">
        <a href="{{ url_for('static', filename='content/Directions to CVRC map .pdf') }}" target="_blank">How to find us</a>
      </div>
    </nav>

    <div class="container">
      <div>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}

            {% set class="alert-info" %}
            {% set gliph="glyphicon-info-sign" %}

            {% if category == "warning" %}
              {% set class="alert-warning" %}
              {% set gliph="glyphicon-exclamation-sign" %}
            {% elif category == "error" %}
              {% set class="alert-danger" %}
              {% set gliph="glyphicon-exclamation-sign" %}
            {% elif category == "success" %}
              {% set class="alert-success" %}
              {% set gliph="glyphicon-ok" %}
            {% endif %}


            <div class="alert {{class}}" role="alert">
              <span class="glyphicon {{gliph}}" aria-hidden="true"></span>
              <span class="sr-only">{{category}}:</span>
              {{message}}
            </div>
          {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </div>



    <footer class="footer">
      <div class="container">
        <p >&copy; {{g.year}} <a href="http://www2.le.ac.uk/research/current-research/bru">Leicester Cardiovascular <span class="hidden-sm hidden-md hidden-lg">BRU</span><span class="hidden-xs">Biomedical Research Unit</span></a></p>
      </div>
    </footer>
{% endblock %}