{% extends "genvasc_collaborators/layout.html" %}
{% import "_formVerticalHelpers.html" as formhelper %}

{% block genvasc_collaborators_content %}
    <form method="POST">
		{{ form.hidden_tag() }}
		
		<div class="col-sm-6 col-sm-offset-3 lcbru-form">
		    <h4>Delegate Details</h4>

	        {{ formhelper.render_field(form.fullname) }}
	        {{ formhelper.render_field(form.email) }}
	        {{ formhelper.render_field(form.role) }}
	        {{ formhelper.render_field(form.dietary) }}
	        {{ formhelper.render_field(form.carReg) }}
	        {{ formhelper.render_field(form.meetingId) }}

	        {% if fullyBookedMeetings|length > 0 %}

		        <p>The following meetings are already fully booked:</p>

		        <ul>
					{% for item in fullyBookedMeetings %}
						<li>{{ item.name }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>

	    <div class="col-sm-12 text-right">
	        <a href="{{ url_for('genvasc_collaborators_delegates') }}" class="btn btn-default" role="button">Cancel</a>
	        <button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	</form>
{% endblock %}

