{% extends "standardLayout.html" %}
{% import "_formVerticalHelpers.html" as formhelper %}

{% block content %}
    <h2>GENVASC Collaborators</h2>

    <p>
    	Please can you provide us with some information about who from your practice
    	would like to attend the GENVASC Collaborators meeting.
    </p>

    <div class="col-sm-12 text-center">
        <a href="{{ url_for('genvasc_collaborators_delegate_new') }}" class="btn btn-primary btn-sm" role="button">Add Delegate</a>
    </div>

{% endblock %}

