{% extends "genvasc_collaborators/layout.html" %}
{% import "_formVerticalHelpers.html" as formhelper %}

{% block genvasc_collaborators_content %}

    <form method="POST" action="{{ url_for('genvasc_collaborators_delegate_delete_confirm') }}" class="col-sm-8 col-sm-offset-2">
		{{ form.hidden_tag() }}
		
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Are you sure you want to delete delegate '{{ delegate.fullname }}'?
		</div>

	    <div class="col-sm-12 text-right">
	        <a href="{{ url_for('genvasc_collaborators_delegates') }}" class="btn btn-default" role="button">Cancel</a>
	        <button type="submit" class="btn btn-primary">Delete</button>
	    </div>
	</form>
{% endblock %}

