{% extends "standardLayout.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}
    <h2>GENVASC Collaborators</h2>

    <p>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="col-sm-6 col-sm-offset-3 lcbru-form">

	    <h4>Please enter your practice details below</h4>

		<form method="POST" class="form-horizontal">
		    {{ form.hidden_tag() }}

		    <div>
		        {{ formhelper.render_field(form.practice_code) }}
		    </div>

		    <div class="col-sm-12 text-right">
		        <button type="submit" class="btn btn-primary">Proceed</button>
		    </div>
		</form>

	</div>
{% endblock %}

